.options {
    max-width: 526px;
    width: 100%;
    padding-top: 24px;

    &_container {
        display: flex;
    }

    @media (max-width: 500px) {
        max-width: unset;
        
    } 

   >  p {
        width: 40%;
        color: #999999;
        @media (max-width:500px) {
            width: 30%;
        }
    }
    &_column {
        padding-left: 24px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        @media(max-width: 500px) {
            padding-left: 12px;
        }

        &:last-child {
            justify-content: end;
            width: fit-content;
            p {
                display: flex;
                button {
                    width: 40pt;
                    height: 40pt;
                }
                input {
                    width: 80pt;
                    height: 37pt;
                }
            }
            @media(max-width: 500px) {
                
               p {
                   input {
                    width: 40pt;
                    height: 37pt;  
                   }
               }
            }
        }
        span {
            display: block;
            padding-bottom: 36px;
            color: #333333;
            font-size: 16px;
            width: max-content;
            @media (max-width: 500px) {
                width: unset;
            }
        }
        p {
            &:first-child {
                margin-top: 0;
            }
            input {
                width: 80px;
                height: 40px;
                border: 1px solid #E6E7EB;
                text-align: center;
                @media(max-width: 500px) {
                    width: 40px;
                }
            }
            .minus {
                &--enabled {
                    border: 1px solid #FF6600; 
                    color: #FF6600; 
                }
            }
            button {
                padding: 13px;
                border: 1px solid #E6E7EB;
                background-color:#FFFFFF;
                color: #E6E7EB;

                &:last-child {
                    border: 1px solid #FF6600;
                    color: #FF6600;
                    
                }
            }
        }
    }
    &_footer {
        padding-top: 24px;
        &-text {
            font-size: 12px;
            line-height: 16px;
            color: #999999;
            margin-top: 0;
            margin-bottom: 12px;
            &--icons {
                display: flex;
            }
           span {
            img {
                display: inline-block;
                width: 28px;
                height: 12px;
            }
           }
        }
        
        &-payment {
            display: flex;
            img {
                display: inline-block;
                width: 28px;
                height: 12px;
            }

        }
    }
}